body {
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#rename {
    width: 60%;
    padding: 10px;
    font-size: 1.2em;
}