.tab-renamer-extension-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.tab-renamer-extension-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.tab-renamer-extension-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* black with 40% opacity */
    z-index: 9998; /* Just below the input box */
}

.tab-renamer-extension-input-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 40px;
    font-size: 24px;
    z-index: 9999; /* Above the overlay */
    padding: 5px;
    background-color: white;
    border: none;
    transform: translate(-50%, -50%); /* Center the box */
}

.tab-renamer-extension-legend {
    position: absolute;
    top: -20px; /* Adjust based on your needs */
    left: 0;
    font-size: 18px;
}