.root {
    background-color: white;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* width: calc(9 * 40px); /* 40px is a rough estimate of each emoji's size */
    width: 375px;
    height: 300px;
    border-radius: 15px;
    overflow-y: auto; 

    position: absolute;
    top: 120%;
    left: 0;

    transition: opacity 0.15s ease-in-out;
    opacity: 0;
}

.root.visible {
    opacity: 1;
}

.headerContainer {
    padding: 10px;
    position: sticky;
    background-color: white; /* or any color that matches your design */
    top: 0;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.removeButton {
    cursor: pointer;
    background-color: white;
    color: #706f6f;
    border: none;
    text-align: center;
    padding: 7px 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.removeButton:hover {
    background-color: #f2f2f2;
}

.content {
    z-index: 0;
    margin: 0px 10px;
}

.emojiGrid {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Creates 9 columns */
    grid-gap: 4px; 
    padding: 5px 0px;
}

.emojiItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease;
    text-align: center;
    width: 2em;
    height: 2em;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif !important;
    font-size: 16px;
}

.emojiItem .emojiWrapper {
    transform: translateY(-1.5px);
    cursor: pointer;
}
  
.emojiItem:hover {
    background-color: rgba(169, 169, 255, 0.829);
    border-radius: 6px;
}

.emojiCategoryTitle {
    font-family: 'Arial', sans-serif !important;
    color: #6f6f6f;
    margin: 10px 5px;
}

.emojiSearchBar {
    font-family: 'Arial', sans-serif !important;
    background-color: white;
    border-radius: 12px;
    padding: 6px 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    outline: none; /* remove the default browser outline */
    border: 1px solid #ababab; /* This will give a subtle border */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for the focus effect */
}

.emojiSearchBar:focus {
    border-color: #4da3ff;
    box-shadow: 0 0 5px 4px rgba(31, 138, 252, 0.285); /* Light blue halo-like shadow */
}

.searchResults {
    width: 100%;
}


