.root, .root * {
    animation: none;
    background: none;
    border: none;
    box-sizing: border-box;
    display: block;
    font-family: Arial, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    color-scheme: light only;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(1px) brightness(0.5);
    z-index: 9998;
}

.mainBarContainer {
    display: flex;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9998; /* Just below the input box */
}

.mainBarIFrameContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.mainBar {
    display: flex;
    align-items: center;
}

.faviconPickerWrapper {
    position: relative;
    width: 60px;
    height: 60px;
}