#tab-renamer-extension-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9998; /* Just below the input box */
}

#tab-renamer-extension-input-container {
    display: flex;
    align-items: center;

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9999;
}

#tab-renamer-extension-favicon-picker {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    position: relative;

    border: 2px solid #ccc;
    cursor: pointer;
    background-color: white;
    /* background: url('some-icon.png') center no-repeat; */
    background-size: cover;

    padding: 5px;
    margin: 0;
    border: none;
    border-radius: 12px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 

    color: gray;
}

#emoji-picker-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%) brightness(2); /* To make it a similar gray color as the text */
}

#emoji-picker {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    width: calc(9 * 40px); /* 40px is a rough estimate of each emoji's size */
    height: 300px;
    padding: 10px;

    overflow-y: auto; 

    position: absolute;
    top: 120%;
    left: 0;

    border-radius: 12px;
}

#emoji-picker .emoji-category-emojis {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Creates 9 columns */
    grid-gap: 4px; 
    padding: 8px;
}

#tab-renamer-extension-input-box {
    /*==================== Dimensions ==================== */
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    margin-left: 15px !important;

    /*==================== Font ==================== */
    font-family: 'Arial', sans-serif !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #606060 !important; /* Dark gray */
    text-decoration: none;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;


    border: none;
    border-radius: 12px; /* Rounded corners */

    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    padding: 10px 20px; /* Padding for text inside */
    margin: 0;

    transition: all 0.3s ease; /* Smooth transition effects */
}

/* Styling for the placeholder text */
#tab-renamer-extension-input-box::placeholder {
  color: rgb(199, 199, 199) !important;
  font-weight: bold;
}

/* Style for input box when it gets focus */
#tab-renamer-extension-input-box:focus {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Slightly darker shadow when focused */
}
