#tab-renamer-extension-root, #tab-renamer-extension-root * {
    all: initial;
    animation: none;
    background: none;
    border: none;
    box-sizing: border-box;
    color: black;
    display: block;
    font-family: Arial, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

#tab-renamer-extension-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9998; /* Just below the input box */
}

#tab-renamer-extension-main-bar {
    display: flex;
    align-items: center;

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 9999;
}

#tab-renamer-extension-favicon-picker-wrapper {
    position: relative;
    width: 60px;
    height: 60px;
}

#tab-renamer-extension-favicon-picker {
    box-sizing: border-box;
    position: relative;

    border: 2px solid #ccc;
    background-color: white;
    background-size: cover;

    padding: 5px;
    margin: 0;
    border: none;
    border-radius: 12px;

    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 

    color: gray;
}

#tab-renamer-extension-favicon-picker, #tab-renamer-extension-favicon-picker * {
    cursor: pointer;
}

#tab-renamer-extension-emoji-picker-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%) brightness(2); /* To make it a similar gray color as the text */
}

#tab-renamer-extension-picked-emoji {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#tab-renamer-extension-emoji-picker {
    background-color: white;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    width: calc(9 * 40px); /* 40px is a rough estimate of each emoji's size */
    height: 300px;
    padding: 10px;

    overflow-y: auto; 

    position: absolute;
    top: 120%;
    left: 0;

    border-radius: 12px;

    display: none; /* Hidden by default */
}

#tab-renamer-extension-emoji-picker .emoji-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Creates 9 columns */
    grid-gap: 4px; 
    padding: 8px;
}

#tab-renamer-extension-emoji-picker .emoji-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 2em;
    height: 2em;
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif !important;
    font-size: 16px;
}

#tab-renamer-extension-emoji-picker .emoji-item .emoji-wrapper {
    transform: translateY(-1.5px);
}
  
#tab-renamer-extension-emoji-picker .emoji-item:hover {
    background-color: rgba(169, 169, 255, 0.829);
    border-radius: 6px;
}

#tab-renamer-extension-emoji-picker .emoji-category-title {
    font-family: 'Arial', sans-serif !important;
    color: #6f6f6f;
    margin-top: 3px;
    margin-bottom: 3px;
}

#tab-renamer-extension-input-box {
    /*==================== Dimensions ==================== */
    width: 300px;
    height: 60px;
    box-sizing: border-box;
    margin-left: 15px !important;

    /*==================== Font ==================== */
    font-family: 'Arial', sans-serif !important;
    font-size: 26px !important;
    font-weight: bold !important;
    font-style: normal !important;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #606060 !important; /* Dark gray */
    text-decoration: none;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;


    border: none;
    border-radius: 12px; /* Rounded corners */

    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    padding: 10px 20px; /* Padding for text inside */
    margin: 0;

    transition: all 0.3s ease; /* Smooth transition effects */
}

/* Styling for the placeholder text */
#tab-renamer-extension-input-box::placeholder {
  color: rgb(199, 199, 199) !important;
  font-weight: bold;
}

/* Style for input box when it gets focus */
#tab-renamer-extension-input-box:focus {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Slightly darker shadow when focused */
}

#tab-renamer-extension-emoji-search-bar {
    font-family: 'Arial', sans-serif !important;
    background-color: white;
    border-radius: 8px;
    padding: 6px 10px;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none; /* remove the default browser outline */
    border: 1px solid #ababab; /* This will give a subtle border */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for the focus effect */
}

#tab-renamer-extension-emoji-search-bar:focus {
    border-color: #4da3ff;
    box-shadow: 0 0 5px 4px rgba(31, 138, 252, 0.285); /* Light blue halo-like shadow */
}

#tab-renamer-extension-search-results-div {
    width: 100%;
}